<nz-layout class="layout">
  <nz-header>
    <div class="App__logo"></div>
    <ul class="App__nav" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <li nz-menu-item>
        <a routerLink="/">Roadmap</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/projects">Projects</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/about">About</a>
      </li>
    </ul>
  </nz-header>
  <nz-content class="App__content">
    <div
      style="background:#fff; padding: 24px; margin-top: 24px; min-height: 580px;"
    >
      Content
    </div>
  </nz-content>
  <nz-footer class="App__footer">
    Made with
    <span class="App__heart">❤️</span>
    by
    <a
      href="https://github.com/flexicon"
      target="_blank"
      rel="noopener noreferrer"
      >Mike Repec</a
    >
  </nz-footer>
</nz-layout>
