.App__logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.App__nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.App__content {
  padding: 24px 50px 0;
}

.App__footer {
  text-align: center;
}

.App__heart {
  color: #000;
}
